html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  font-family: Arial, sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h1 {
    padding: 15px;
    background: rgba(0,0,0,.8);
    color: $white;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-size: 25px;
  }
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}