nav {
  background: $white;
  position: absolute;
  width: 100%;

  .navigation {
    list-style: none;
    background: $blue;
    flex-direction: column;
    display: flex;

    a {
      display: block;
      padding: 1em;
      color: $white;
      text-align: center;

      &:hover {
        color: $blue;
        background: darken($white, 10%);
      }
    }
  }

  @media screen and (min-width: 600px) {
    .navigation {
      justify-content: space-around;
      flex-direction: row;
    }
  }

  @media screen and (min-width: 992px) {
    .navigation {
      justify-content: flex-end;
    }
  }
}

.menu-mobile {
  display: block;
  width: 15%;
  margin: 0 auto;

  @media screen and (min-width: 600px), (min-width: 768px), (min-width: 992px) {
    display: none;
  }
}
